In [32]:
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import env
import os
pd.set_option('display.max_columns', None)

In [33]:
# function to establish connection to MySQL workbench to retrieve data.
def get_connection(db, user=env.username, host=env.host, password=env.password):
    return f'mysql+pymysql://{env.username}:{env.password}@{env.host}/{db}'

In [34]:
def new_zillow_data():
    sql_querry= '''
            select prop.*,
            pred.logerror,
            pred.transactiondate,
            air.airconditioningdesc,
            arch.architecturalstyledesc,
            build.buildingclassdesc,
            heat.heatingorsystemdesc,
            land.propertylandusedesc,
            story.storydesc,
            type.typeconstructiondesc
            from properties_2017 as prop
            Join predictions_2017 as pred using(parcelid)
            LEFT JOIN airconditioningtype as air USING(airconditioningtypeid)
            LEFT JOIN architecturalstyletype as arch USING(architecturalstyletypeid)
            LEFT JOIN buildingclasstype as build USING(buildingclasstypeid)
            LEFT JOIN heatingorsystemtype as heat USING(heatingorsystemtypeid)
            LEFT JOIN propertylandusetype as land USING(propertylandusetypeid)
            LEFT JOIN storytype as story USING(storytypeid)
            LEFT JOIN typeconstructiontype as type USING(typeconstructiontypeid)
            WHERE propertylandusedesc = "Single Family Residential"
            AND transactiondate < '2018'
            AND prop.longitude IS NOT NULL
            AND prop.latitude IS NOT NULL
                  
            '''
    
    
    df= pd.read_sql(sql_querry, get_connection('zillow'))
    df= df.drop_duplicates(subset=['parcelid'],keep='last')
    return df

In [35]:
def zillow_data():
    '''this function returns the zillow data and creates the csv file in local directory  if it doesnot exist already.'''
    filename= "zillow.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read data from database in dataframe
        df= new_zillow_data()
        #cache data
        df.to_csv(filename)
        return df

In [36]:
df= zillow_data()
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,None,NaN,3.5,NaN,NaN,3100.0,3100.0,None,None,NaN,NaN,6059.0,NaN,3.0,2.0,633.0,NaN,NaN,33634931.0,-117869207.0,4506.0,NaN,NaN,NaN,NaN,NaN,122,261.0,None,6.059063e+07,53571.0,1286.0,NaN,96978.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,1998.0,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,None,NaN,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,None,NaN,1.0,NaN,1465.0,1465.0,1465.0,None,None,1465.0,NaN,6111.0,1.0,1.0,1.0,0.0,NaN,NaN,34449266.0,-119281531.0,12647.0,NaN,NaN,NaN,NaN,NaN,1110,261.0,None,6.111001e+07,13091.0,2061.0,NaN,97099.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1967.0,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,None,NaN,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,None,NaN,2.0,NaN,NaN,1243.0,1243.0,None,None,NaN,NaN,6059.0,NaN,2.0,2.0,440.0,NaN,NaN,33886168.0,-117823170.0,8432.0,1.0,NaN,NaN,NaN,1.0,122,261.0,None,6.059022e+07,21412.0,1286.0,NaN,97078.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1962.0,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,None,NaN,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,None,8.0,3.0,NaN,NaN,2376.0,2376.0,None,None,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34245180.0,-118240722.0,13038.0,1.0,NaN,NaN,NaN,1.0,0101,261.0,LCR110000*,6.037300e+07,396551.0,3101.0,NaN,96330.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1970.0,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,781532,12095076,1.0,NaN,NaN,3.0,4.0,None,9.0,3.0,NaN,NaN,2962.0,2962.0,None,None,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34145202.0,-118179824.0,63000.0,1.0,NaN,NaN,NaN,1.0,0101,261.0,PSR2,6.037461e+07,47019.0,3101.0,274684.0,96293.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1950.0,NaN,NaN,276684.0,773303.0,2016.0,496619.0,9516.26,None,NaN,6.037461e+13,-0.001011,2017-01-01,Central,None,None,Central,Single Family Residential,None,None

In [37]:
# shape of the zillow dataframe
df.shape

(52320, 68)

# Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52320 entries, 0 to 52440
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52320 non-null  int64
 1   parcelid                      52320 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52320 non-null  float64
 6   bedroomcnt                    52320 non-null  float64
 7   buildingclasstypeid           0 non-null      object
 8   buildingqualitytypeid         33655 non-null  float64
 9   calculatedbathnbr             52185 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52239 non-null  float64
 13  finishedsquarefeet12          52074 non-null  float64
 14  finishedsquarefeet13          0 non-null      object
 15  finishedsquarefeet15          0 non-null      object
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52320 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52185 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33850 non-null  float64
 25  latitude                      52320 non-null  float64
 26  longitude                     52320 non-null  float64
 27  lotsizesquarefeet             51954 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52320 non-null  object
 34  propertylandusetypeid         52320 non-null  float64
 35  propertyzoningdesc            33762 non-null  object
 36  rawcensustractandblock        52320 non-null  float64
 37  regionidcity                  51284 non-null  float64
 38  regionidcounty                52320 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52294 non-null  float64
 41  roomcnt                       52320 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33762 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52206 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52238 non-null  float64
 52  taxvaluedollarcnt             52319 non-null  float64
 53  assessmentyear                52320 non-null  float64
 54  landtaxvaluedollarcnt         52319 non-null  float64
 55  taxamount                     52316 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52199 non-null  float64
 59  logerror                      52320 non-null  float64
 60  transactiondate               52320 non-null  object
 61  airconditioningdesc           13615 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      object
 64  heatingorsystemdesc           33850 non-null  object
 65  propertylandusedesc           52320 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(52), int64(2), object(14)
memory usage: 27.5+ MB

In [40]:
# summary stats
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,52320.0,1.496906e+06,8.594330e+05,3.490000e+02,7.576135e+05,1.500134e+06,2.241333e+06,2.982270e+06
parcelid,52320.0,1.299682e+07,3.350919e+06,1.071186e+07,1.151018e+07,1.257829e+07,1.413036e+07,1.676878e+08
airconditioningtypeid,13615.0,2.439589e+00,3.847925e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52320.0,2.300010e+00,1.022807e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52320.0,3.300765e+00,9.475551e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingqualitytypeid,33655.0,6.264894e+00,1.716346e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52185.0,2.305270e+00,1.018067e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4371.0,1.546288e+03,6.753393e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.760000e+03,6.912000e+03
calculatedfinishedsquarefeet,52239.0,1.923153e+03,1.004045e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52074.0,1.925314e+03,1.003953e+03,1.280000e+02,1.270000e+03,1.661000e+03,2.309000e+03,2.192900e+04
finishedsquarefeet50,4371.0,1.567099e+03,7.450848e+02,1.840000e+02,1.152000e+03,1.415000e+03,1.771000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52320.0,6.049136e+03,2.102913e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7233.0,1.209733e+00,5.129456e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52185.0,2.240031e+00,9.933029e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,17984.0,1.949066e+00,5.499741e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,17984.0,4.959270e+02,1.571009e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1514.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,33850.0,3.965613e+00,2.562660e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,52320.0,3.402256e+07,2.740624e+05,3.334062e+07,3.382690e+07,3.402375e+07,3.418725e+07,3.481877e+07
longitude,52320.0,-1.181941e+08,3.567149e+05,-1.194754e+08,-1.184009e+08,-1.181531e+08,-1.179290e+08,-1.175546e+08
lotsizesquarefeet,51954.0,1.132335e+04,8.674164e+04,2.360000e+02,5.583000e+03,6.841000e+03,8.799000e+03,6.971010e+06
poolcnt,11077.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,865.0,5.183052e+02,1.566148e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,443.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,9990.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,52320.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,52320.0,6.049447e+07,2.086892e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51284.0,3.348383e+04,4.911615e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52320.0,2.524321e+03,8.040986e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,18981.0,1.802406e+05,1.599288e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52294.0,9.663624e+04,4.610382e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52320.0,1.894457e+00,3.146952e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,6717.0,1.013697e+00,1.426896e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
unitcnt,33762.0,1.000859e+00,3.028996e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1935.0,3.373597e+02,2.495793e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52206.0,1.963421e+03,2.312567e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14532.0,1.414189e+00,5.406849e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52238.0,1.966362e+05,2.542862e+05,1.290000e+02,7.715900e+04,1.319050e+05,2.264532e+05,9.164901e+06
taxvaluedollarcnt,52319.0,5.298235e+05,7.518296e+05,1.000000e+03,1.940330e+05,3.740060e+05,6.193540e+05,4.906124e+07
assessmentyear,52320.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52319.0,3.334917e+05,5.705106e+05,1.610000e+02,7.619400e+04,2.180790e+05,4.087770e+05,4.895220e+07
taxamount,52316.0,6.454743e+03,8.752477e+03,4.918000e+01,2.660983e+03,4.650565e+03,7.379270e+03,5.866393e+05
taxdelinquencyyear,2068.0,1.410106e+01,2.400399e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52199.0,6.050245e+13,1.861127e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14
logerror,52320.0,1.813138e-02,1.769047e-01,-4.655420e+00,-2.470687e-02,6.934429e-03,4.059704e-02,5.262999e+00

In [41]:
# value counts for each colummn in the dataframe
for col in df.columns:
    print(col)
    print(df[col].value_counts())

id
1727539    1
2127263    1
590202     1
1019191    1
2163005    1
          ..
2923683    1
876441     1
1183906    1
2159363    1
1187175    1
Name: id, Length: 52320, dtype: int64
parcelid
14297519    1
12895331    1
12680821    1
11839030    1
17148095    1
           ..
17294679    1
14138000    1
12026029    1
14212835    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64
airconditioningtypeid
1.0     11873
13.0     1567
5.0       159
11.0       16
Name: airconditioningtypeid, dtype: int64
architecturalstyletypeid
7.0     62
3.0      3
2.0      2
21.0     2
8.0      1
Name: architecturalstyletypeid, dtype: int64
basementsqft
900.0     2
640.0     2
100.0     2
515.0     2
273.0     2
912.0     2
314.0     1
819.0     1
1809.0    1
604.0     1
126.0     1
588.0     1
786.0     1
669.0     1
800.0     1
396.0     1
112.0     1
645.0     1
384.0     1
1969.0    1
252.0     1
600.0     1
1218.0    1
280.0     1
300.0     1
224.0     1
512.0     1
380.0     1
204.0     1
200.0     1
90.0      1
3112.0    1
405.0     1
1252.0    1
254.0     1
3560.0    1
352.0     1
168.0     1
394.0     1
1416.0    1
38.0      1
Name: basementsqft, dtype: int64
bathroomcnt
2.0     21840
3.0     10650
1.0      9536
2.5      3932
4.0      2225
3.5       916
1.5       839
5.0       803
4.5       686
6.0       320
5.5       224
0.0       119
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64
bedroomcnt
3.0     23303
4.0     15210
2.0      8317
5.0      3967
6.0       634
1.0       611
0.0       135
7.0       106
8.0        24
9.0         8
10.0        2
14.0        1
11.0        1
12.0        1
Name: bedroomcnt, dtype: int64
buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)
buildingqualitytypeid
6.0     10260
8.0      8222
4.0      8136
7.0      3424
5.0      1507
9.0      1119
11.0      514
10.0      230
3.0       149
12.0       81
1.0         8
2.0         5
Name: buildingqualitytypeid, dtype: int64
calculatedbathnbr
2.0     21840
3.0     10650
1.0      9536
2.5      3924
4.0      2225
3.5       916
1.5       832
5.0       803
4.5       686
6.0       320
5.5       223
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64
decktypeid
66.0    389
Name: decktypeid, dtype: int64
finishedfloor1squarefeet
1252.0    22
1205.0    21
1462.0    21
1227.0    19
1431.0    17
          ..
1708.0     1
922.0      1
2062.0     1
4300.0     1
2652.0     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64
calculatedfinishedsquarefeet
1120.0    128
1200.0    118
1080.0    101
1040.0     86
936.0      86
         ...
9843.0      1
7088.0      1
604.0       1
5422.0      1
5655.0      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64
finishedsquarefeet12
1120.0    127
1200.0    117
1080.0    101
936.0      86
1040.0     85
         ...
7088.0      1
604.0       1
5422.0      1
534.0       1
5655.0      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64
finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)
finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)
finishedsquarefeet50
1252.0    22
1205.0    21
1462.0    21
1227.0    19
1431.0    17
          ..
1533.0     1
1708.0     1
922.0      1
2062.0     1
2652.0     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64
finishedsquarefeet6
952.0     4
520.0     3
750.0     2
765.0     2
845.0     2
         ..
1178.0    1
670.0     1
748.0     1
1200.0    1
905.0     1
Name: finishedsquarefeet6, Length: 155, dtype: int64
fips
6037.0    33824
6059.0    14111
6111.0     4385
Name: fips, dtype: int64
fireplacecnt
1.0    6024
2.0     942
3.0     229
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64
fullbathcnt
2.0     25776
3.0     11575
1.0     10368
4.0      2912
5.0      1022
6.0       357
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64
garagecarcnt
2.0     14777
1.0      2197
3.0       621
4.0       253
0.0        65
5.0        45
6.0        13
7.0         3
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64
garagetotalsqft
400.0     786
441.0     678
462.0     658
360.0     646
460.0     569
         ...
1006.0      1
275.0       1
1056.0      1
261.0       1
957.0       1
Name: garagetotalsqft, Length: 839, dtype: int64
hashottuborspa
1.0    1514
Name: hashottuborspa, dtype: int64
heatingorsystemtypeid
2.0     20689
7.0     12527
6.0       517
20.0       85
13.0       16
1.0         7
18.0        6
10.0        2
24.0        1
Name: heatingorsystemtypeid, dtype: int64
latitude
34047500.0    12
34487900.0     7
33494800.0     7
34101300.0     7
34041200.0     6
              ..
34185350.0     1
34296566.0     1
34077240.0     1
33853596.0     1
33937685.0     1
Name: latitude, Length: 50478, dtype: int64
longitude
-118249000.0    12
-117835000.0     7
-117830000.0     7
-118172000.0     7
-118327000.0     7
                ..
-117834737.0     1
-118659512.0     1
-118132169.0     1
-117744674.0     1
-117996709.0     1
Name: longitude, Length: 50764, dtype: int64
lotsizesquarefeet
6000.0     873
5000.0     413
7200.0     306
7000.0     285
6500.0     272
          ...
18024.0      1
20673.0      1
4775.0       1
9367.0       1
47405.0      1
Name: lotsizesquarefeet, Length: 14292, dtype: int64
poolcnt
1.0    11077
Name: poolcnt, dtype: int64
poolsizesum
450.0     89
400.0     38
500.0     30
600.0     27
512.0     25
          ..
275.0      1
434.0      1
1070.0     1
368.0      1
780.0      1
Name: poolsizesum, Length: 262, dtype: int64
pooltypeid10
1.0    443
Name: pooltypeid10, dtype: int64
pooltypeid2
1.0    1071
Name: pooltypeid2, dtype: int64
pooltypeid7
1.0    9990
Name: pooltypeid7, dtype: int64
propertycountylandusecode
0100    26714
122     13045
0101     6399
1111     3353
1        1066
1110     1024
0104      367
010G       93
0103       91
0108       57
010M       52
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64
propertylandusetypeid
261.0    52320
Name: propertylandusetypeid, dtype: int64
propertyzoningdesc
LAR1          6480
LARS          1380
LBR1N         1109
SCUR2          712
LARE11         611
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64
rawcensustractandblock
6.037920e+07    36
6.037920e+07    32
6.037142e+07    24
6.059032e+07    24
6.059032e+07    23
                ..
6.059075e+07     1
6.037504e+07     1
6.037540e+07     1
6.059099e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 31441, dtype: int64
regionidcity
12447.0    11418
5534.0      1791
40227.0     1491
46298.0     1424
16764.0     1085
           ...
32927.0        3
31134.0        2
36078.0        1
10815.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64
regionidcounty
3101.0    33824
1286.0    14111
2061.0     4385
Name: regionidcounty, dtype: int64
regionidneighborhood
48570.0     501
118208.0    473
27080.0     448
274049.0    391
51906.0     373
           ...
763079.0      1
764138.0      1
763090.0      1
764167.0      1
762940.0      1
Name: regionidneighborhood, Length: 437, dtype: int64
regionidzip
97319.0    776
97318.0    670
97329.0    563
97328.0    519
97118.0    497
          ...
96467.0      1
97092.0      1
96148.0      1
96038.0      1
97088.0      1
Name: regionidzip, Length: 381, dtype: int64
roomcnt
0.0     37761
6.0      3974
7.0      3608
8.0      2810
5.0      1886
9.0      1173
4.0       518
10.0      338
11.0      108
3.0        79
12.0       35
2.0        12
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64
storytypeid
7.0    47
Name: storytypeid, dtype: int64
threequarterbathnbr
1.0    6638
2.0      70
3.0       8
7.0       1
Name: threequarterbathnbr, dtype: int64
typeconstructiontypeid
6.0    75
4.0     1
Name: typeconstructiontypeid, dtype: int64
unitcnt
1.0    33734
2.0       27
3.0        1
Name: unitcnt, dtype: int64
yardbuildingsqft17
200.0     85
240.0     71
300.0     49
400.0     37
360.0     34
          ..
1113.0     1
913.0      1
415.0      1
1111.0     1
201.0      1
Name: yardbuildingsqft17, Length: 504, dtype: int64
yardbuildingsqft26
120.0    3
56.0     2
300.0    2
240.0    2
448.0    2
196.0    1
140.0    1
48.0     1
284.0    1
39.0     1
133.0    1
486.0    1
250.0    1
91.0     1
491.0    1
16.0     1
204.0    1
71.0     1
28.0     1
195.0    1
292.0    1
231.0    1
30.0     1
320.0    1
384.0    1
180.0    1
49.0     1
868.0    1
462.0    1
461.0    1
368.0    1
105.0    1
37.0     1
88.0     1
160.0    1
45.0     1
752.0    1
169.0    1
21.0     1
200.0    1
113.0    1
41.0     1
314.0    1
12.0     1
414.0    1
66.0     1
648.0    1
174.0    1
218.0    1
60.0     1
336.0    1
108.0    1
144.0    1
216.0    1
360.0    1
72.0     1
576.0    1
Name: yardbuildingsqft26, dtype: int64
yearbuilt
1955.0    1893
1950.0    1605
1954.0    1513
1953.0    1481
1956.0    1384
          ...
1892.0       1
1878.0       1
1882.0       1
1894.0       1
1880.0       1
Name: yearbuilt, Length: 133, dtype: int64
numberofstories
1.0    8868
2.0    5312
3.0     351
6.0       1
Name: numberofstories, dtype: int64
fireplaceflag
1.0    81
Name: fireplaceflag, dtype: int64
structuretaxvaluedollarcnt
100000.0    50
200000.0    36
90000.0     32
32489.0     28
95000.0     27
            ..
156624.0     1
76353.0      1
68884.0      1
259627.0     1
32797.0      1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64
taxvaluedollarcnt
455000.0    33
600000.0    30
500000.0    24
550000.0    24
450000.0    24
            ..
690763.0     1
379764.0     1
317155.0     1
155695.0     1
49546.0      1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64
assessmentyear
2016.0    52320
Name: assessmentyear, dtype: int64
landtaxvaluedollarcnt
21299.0     95
22755.0     63
30210.0     63
16522.0     53
16749.0     51
            ..
86973.0      1
499170.0     1
250803.0     1
122033.0     1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64
taxamount
345.72     4
2914.16    3
1404.44    3
955.88     3
4012.74    3
          ..
1043.94    1
6526.81    1
2821.20    1
4626.40    1
6317.15    1
Name: taxamount, Length: 50834, dtype: int64
taxdelinquencyflag
Y    2068
Name: taxdelinquencyflag, dtype: int64
taxdelinquencyyear
15.0    1124
14.0     559
13.0     126
12.0      81
11.0      79
10.0      47
9.0       33
8.0        8
7.0        8
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64
censustractandblock
6.037920e+13    32
6.037920e+13    27
6.037142e+13    24
6.059032e+13    24
6.059032e+13    23
                ..
6.037534e+13     1
6.037293e+13     1
6.037140e+13     1
6.037577e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 31404, dtype: int64
logerror
 0.002652    5
 0.000231    5
 0.001878    5
 0.000727    5
 0.000420    4
            ..
-0.004860    1
 0.092613    1
-0.049655    1
-0.111529    1
 0.037129    1
Name: logerror, Length: 52061, dtype: int64
transactiondate
2017-06-30    809
2017-04-28    614
2017-05-31    565
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64
airconditioningdesc
Central      11873
Yes           1567
None           159
Wall Unit       16

Name: airconditioningdesc, dtype: int64
architecturalstyledesc
Contemporary     62
Cape Cod          3
Bungalow          2
Ranch/Rambler     2
Conventional      1
Name: architecturalstyledesc, dtype: int64
buildingclassdesc
Series([], Name: buildingclassdesc, dtype: int64)
heatingorsystemdesc
Central       20689
Floor/Wall    12527
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64
propertylandusedesc
Single Family Residential    52320
Name: propertylandusedesc, dtype: int64
storydesc
Basement    47
Name: storydesc, dtype: int64
typeconstructiondesc
Frame       75
Concrete     1
Name: typeconstructiondesc, dtype: int64

In [42]:
# nulls by columns
df.isnull().head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,False,False,True,True,True,False,False,True,True,False,True,True,False,False,True,True,True,True,False,True,False,False,False,True,True,False,False,False,True,True,True,True,True,False,False,True,False,False,False,True,False,False,True,False,True,True,True,True,False,True,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,False,True,True
1,False,False,True,True,True,False,False,True,True,False,True,False,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,True,False,False,True,False,False,False,True,False,False,True,True,True,True,True,True,False,False,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,False,True,True
2,False,False,True,True,True,False,False,True,True,False,True,True,False,False,True,True,True,True,False,True,False,False,False,True,True,False,False,False,False,True,True,True,False,False,False,True,False,False,False,True,False,False,True,True,True,True,True,True,False,False,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,False,True,True
3,False,False,True,True,True,False,False,True,False,False,True,True,False,False,True,True,True,True,False,True,False,True,True,True,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,True,False,False,True,True,True,False,True,True,False,True,True,False,False,False,False,False,True,True,False,False,False,True,True,True,False,False,True,True
4,False,False,False,True,True,False,False,True,False,False,True,True,False,False,True,True,True,True,False,True,False,True,True,True,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True,False,True,True,False,False,False,False,False,True,True,False,False,False,False,True,True,False,False,True,True

In [43]:
null_col = pd.DataFrame({'num_rows_missing': df.isnull().sum(),
                        'pct_rows_missing': (df.isnull().sum()/ df.shape[0])})
null_col.head()

                          num_rows_missing  pct_rows_missing
id                                       0          0.000000
parcelid                                 0          0.000000
airconditioningtypeid                38705          0.739774
architecturalstyletypeid             52250          0.998662
basementsqft                         52273          0.999102

# Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [44]:
def null_counter(df):
    num_missing= df.isnull().sum()
    rows= df.shape[0]
    pct_missing = num_missing / rows
    cols_missing = pd.DataFrame({'num_rows_missing':num_missing,'pct_rows_missing':pct_missing})
                                
    return cols_missing.sort_values(by='num_rows_missing',ascending=False)

In [47]:
null_counter(df)

                       num_rows_missing  pct_rows_missing
buildingclassdesc                 52320          1.000000
buildingclasstypeid               52320          1.000000
finishedsquarefeet15              52320          1.000000
finishedsquarefeet13              52320          1.000000
storytypeid                       52273          0.999102
...                                 ...               ...
latitude                              0          0.000000
fips                                  0          0.000000
bedroomcnt                            0          0.000000
bathroomcnt                           0          0.000000
propertylandusetypeid                 0          0.000000

[68 rows x 2 columns]

In [48]:
# function to drop columns/rows based on proportion of nulls in dtaframe
def null_annihilaton(df,prop_required_column, prop_required_row):
    
    prop_null_column = 1 - prop_required_column
    
    for col in list(df.columns):
        
        null_sum = df[col].isna().sum()
        null_pct = null_sum / df.shape[0]
        
        if null_pct > prop_null_column:
            df.drop(columns=col, inplace=True)
            
    row_threshold = int(prop_required_row * df.shape[1])
    
    df.dropna(axis=0, thresh=row_threshold, inplace=True)
    
    return df

In [49]:
df_dropped = null_annihilaton(df, .80,.80)
df_dropped.head()

,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,propertylandusetypeid,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,propertylandusedesc
0,1727539,14297519,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,-117869207.0,4506.0,122,261.0,6.059063e+07,53571.0,1286.0,96978.0,0.0,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,Single Family Residential
1,1387261,17052889,1.0,2.0,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,-119281531.0,12647.0,1110,261.0,6.111001e+07,13091.0,2061.0,97099.0,5.0,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,Single Family Residential
2,11677,14186244,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,-117823170.0,8432.0,122,261.0,6.059022e+07,21412.0,1286.0,97078.0,6.0,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,Single Family Residential
3,2288172,12177905,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,0101,261.0,6.037300e+07,396551.0,3101.0,96330.0,0.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Single Family Residential
4,781532,12095076,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,-118179824.0,63000.0,0101,261.0,6.037461e+07,47019.0,3101.0,96293.0,0.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Single Family Residential

In [51]:
df_dropped.shape

(52312, 29)

# Mall  customers

In [ ]:
# ACQUIRE mall data from server
sql= '''Select * from customers'''

In [ ]:
df= pd.read_sql(sql,get_connection('mall_customers'))
df.head()

In [ ]:
#summarize
df.describe()

In [ ]:
# check nulls
df.isna().sum()

### Outliers using IQR

In [ ]:
# age quantiles
q1, q3 = df['age'].quantile([.25,.75])
q1, q3

In [ ]:
# calculating IQR
age_iqr = q3-q1
age_iqr

In [ ]:
# upperbound and lower bound with k =1.5
upper = q3 +(age_iqr * 1.5)
lower = q1 - (age_iqr * 1.5)

upper, lower

In [ ]:
# confirming age outliers has been handled
df[df.age> upper]

In [ ]:
# splitting the data into train, test and validate
seed = 123

train, test_val = train_test_split(df, train_size=0.7,
                                   random_state=seed)

test, val = train_test_split(test_val, train_size=0.5,
                                       random_state=seed)

train.shape, val.shape, test.shape

In [ ]:
# encoding categorical column using pd.get_dummies
train =pd.get_dummies(train,drop_first= True)
train.head()

In [ ]:
train.info()

In [ ]:
# scale the data. columns to scale age and annual income using minmaxsclaer
scaler= MinMaxScaler()
train[['age','annual_income']]= scaler.fit_transform(train[['age','annual_income']])
train.head()